.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.logo span {
    font-weight: bold;
    font-size: 1.5rem;
    transition: .5s;


}

.logo span:hover {
    cursor: pointer;
    color: red
}

.logo svg {
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes slidein {
    from {
        margin-left: 0;

    }

    to {
        margin-left: 100px;

    }
}

.menu {
    flex: 1;
    display: flex;
    list-style-type: none;
    gap: 2rem;
    z-index: 99;
    justify-content: flex-start;

}

.menu li:hover {
    cursor: pointer;
    color: var(--themeRed)
}

.rightSide {
    flex: 1;
    gap: 1rem;
    display: flex;
    justify-content: flex-end
}

.cart {
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 99;

}

.badge {
    position: absolute;
    display: flex;
    background-color: var(--themeRed);
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -.5rem
}

.Q_badge {
    position: absolute;
    display: flex;
    background-color: green;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1.4rem;
    top: 1.4rem
}
.contactUsHeader{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 60%;
    margin:auto
}
.contactUs {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    width: max-content;
    padding: .5rem 1rem;
    border-radius: 5rem;
    /* top: 2rem;
    left: 8rem; */
    gap: 1rem;
    background-color: #fff;
    box-shadow: var(--shadow);
    color: #3BD03B;

}

.contactUs div {
    background-color: rgba(59 208 59);
    border-radius: 50%;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}

.contactUs:hover {
    cursor: pointer;
    transform: scale(1.1)
}


@media(max-width:800px){

    .menu {

        padding-left: .5rem;

    }
    .contactUsHeader{
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-direction:column;
        width: 80%;
        margin:auto;
        padding: 1rem;
    }
}
@media(max-width:500px){
    .logo {
        justify-content: center;
        width: 100%;
        order:-1;
        padding: 1rem 0 0 0 ;
    }

    .menu {
        flex: 2;
        display: flex;
        margin-left:0;
        padding-left: .5rem;

    }
    .menu li{
        width: 100%;
    }
    .menu li:hover {
        cursor: pointer;
        color: var(--themeRed)
    }
 
    
}